using System;
using System.Collections.Generic;
using System.Linq;
using System.Threading.Tasks;
using {{ProjectName}}.Api.Models;

namespace {{ProjectName}}.Api.Interfaces
{
    public interface ITokenService
    {
        string CreateToken(AppUser user);
    }
}
